<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
       <!-- 定义spring mvc的注解扫描内容 -->
       <context:component-scan base-package="com.yr.gap,com.zefu.tiol" use-default-filters="false">
              <context:include-filter  type="annotation" expression="org.springframework.stereotype.Controller"/>
       </context:component-scan>
       
	    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	        <property name="maxUploadSize" value="50000000"/>
	    </bean>
</beans>