<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zefu.tiol.decision.decisionMapper">
	
	<resultMap id="statistics"
		type="com.zefu.tiol.pojo.StatisticsCompany">
		<result column="STATISTICS_ID" property="statisticsId"
			jdbcType="VARCHAR" />
		<result column="COMPANY_ID" property="companyId"
			jdbcType="VARCHAR" />
		<result column="INDUSTRY_ID" property="industryId"
			jdbcType="VARCHAR" />
		<result column="SUBJECT_QUANTITY" property="subjectQuantity"
			jdbcType="INTEGER" />
		<result column="MEETING_QUANTITY" property="meetingQuantity"
			jdbcType="INTEGER" />
		<result column="ITEM_QUANTITY" property="itemQuantity"
			jdbcType="INTEGER" />
		<result column="REGULATION_QUANTITY"
			property="regulationQuantity" jdbcType="INTEGER" />
		<result column="NONSTANDARD_QUANTITY"
			property="nonstandardQuantity" jdbcType="INTEGER" />
		<result column="STATISTICS_TIME" property="statisticsTime"
			jdbcType="VARCHAR" />
		<result column="COMPANY_NAME" property="companyName"
			jdbcType="VARCHAR" />
	</resultMap>

	<select id="queryDecisionList" parameterType="String"
		resultMap="statistics">
		SELECT * FROM TIOL_STATISTICS_COMPANY where STATISTICS_ID=#{id, jdbcType=VARCHAR}
	</select>	
	
</mapper>
	
